<div class="row">
    <div class="col-md-3">
        <stk-watchlist-panel></stk-watchlist-panel>
    </div>
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>
                {{watchlist.description}}
                <button type="button" class="btn btn-success btn-xs pull-right" ng-click="showStockModal()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="heading-body">
                <p ng-repeat="stock in watchlist.stocks">{{stock.company.symbol}}</p>
            </div>
        </div>
    </div>
</div>
